/* 2.6 Position ======================================================= */

.absolute { position: absolute !important; }
.relative { position: relative !important; }

@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .absolute#{$infix}-up {
        @include media-breakpoint-up($breakpoint) {
            position: absolute !important;
        }
    }

    .flex#{$infix}-column {
        @include media-breakpoint-up($breakpoint) {
            flex-direction: column !important;
        }
    }
}
