/* 2.7 Responsive ======================================================= */

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

//.row {
//    @each $breakpoint in map-keys($grid-breakpoints) {
//        > [class*='col-#{$breakpoint}'] {
//            + [class*='col-#{$breakpoint}'] {
//                margin-top: 3rem;
//
//                @include media-breakpoint-up($breakpoint) {
//                    margin-top: inherit;
//                }
//            }
//        }
//    }
//}

.row {
    > .col,
    > [class*="col-"] {
        padding-top: $grid-gutter-width / 2;
        padding-bottom: $grid-gutter-width / 2;
    }
}